<!-- Button trigger modal -->
<h3 style="display: inline-block; padding-top: 30px;">User List</h3>

<div class="component">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Email adress</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of user; let i = index">
                <th scope="row">{{user._id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>

                <td>
                    <button style="margin-right: 10px;" class="btn btn-primary"><a style="color: white;"
                            routerLink="{{user._id}}">Details</a></button>
                    <button style="margin-right: 10px;" class="btn btn-primary"><a style="color: white;"
                            [routerLink]="['edit', user._id]">Edit</a></button>
                    <button class="btn btn-danger" (click)="onDelete(user._id)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>