<div class="component" *ngIf="user === undefined">
    <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="component" *ngIf="id !== undefined">
    <h2>{{user?.name}}</h2>
    <hr>
    <p><strong>Email: </strong> {{user?.email}}</p>


</div>
<a routerLink="../">Go back</a>