<div class="component" *ngIf="user === undefined">
    <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="component" *ngIf="user !== undefined">
    <h2>{{user?.firstName}} {{user?.lastName}}</h2>
    <hr>
    <p><strong>Email: </strong> {{user?.emailAdress}}</p>
    <p><strong>Birth date: </strong> {{user?.birthDate | date: 'dd-MM-YYYY'}}</p>

</div>
<a routerLink="../">Go back</a>