<!-- Button trigger modal -->
<h3 style="display: inline-block;">Festival List</h3>
<button type="button" class="btn btn-success" style="margin-bottom: 20px; display: inline-block; float: right;"
    data-toggle="modal" data-target="#exampleModal">
    Add Festival
</button>

<div class="component">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Naam</th>
            <th>Max aantal bezoekers</th>
            <th>Artiesten</th>
            <th>Underage party?</th>
            <th>Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let festival of festivals$ | async">
                <th scope="row">{{festival.id}}</th>
                <td>{{festival.Naam}}</td>
                <td>{{festival.MaxAantalBezoekers}}</td>
                <td>
                    {{festival.Artiesten}}
                </td>
                <td>{{festival.isUnderAge}}</td>
                <td>{{festival.Date | date: 'dd-MM-YYYY'}}</td>
                <td>
                    <button style="margin-right: 10px;" class="btn btn-primary"><a style="color: white;"
                            routerLink="{{festival.id}}">Details</a></button>
                    <button style="margin-right: 10px;" class="btn btn-primary"><a style="color: white;"
                            [routerLink]="['edit', festival.id]">Edit</a></button>
                    <button class="btn btn-danger" (click)="onDelete(festival)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Festival</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div style="width: 400px; margin: auto;">
                        <div class="submit-form">
                            <div *ngIf="!submitted">
                                <div class="form-group" style="display: none;">
                                    <label for="ID">ID</label>
                                    <input type="text" class="form-control" name="id" required
                                        [(ngModel)]="festival.id" />

                                </div>
                                <div class="form-group">
                                    <label for="Naam">Naam</label>
                                    <input type="text" class="form-control" name="Naam" required
                                        [(ngModel)]="festival.Naam" />

                                </div>
                                <div class="form-group">
                                    <label for="MaxAantalBezoekers">Max aantal bezoekers</label>
                                    <input type="text" class="form-control" name="MaxAantalBezoekers" required
                                        [(ngModel)]="festival.MaxAantalBezoekers" />

                                </div>
                                <div class="form-group">
                                    <label for="Artiesten">Artiesten </label>
                                    <input type="text" name="Artiesten" class="form-control" required
                                        [(ngModel)]="festival.Artiesten" />

                                </div>
                                <div class="form-group">
                                    <label for="isUnderAge">isUnderAge</label>
                                    <input checked name="isUnderAge" class="form-control" required
                                        [(ngModel)]="festival.isUnderAge" />

                                </div>
                                <div class="form-group">
                                    <label for="Date"> date</label>
                                    <input type="date" name="Date" class="form-control" required
                                        [(ngModel)]="festival.Date" />

                                </div>

                                <button (click)="saveUser()" class="btn btn-success">Submit</button>
                            </div>

                            <div *ngIf="submitted">
                                <h4>You added successfully!</h4>
                                <button class="btn btn-success" (click)="newUser()">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>