<div class="component" *ngIf="id === undefined">
    <div class="lds-default">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div>
    <h2>{{myOrder?.Festival}}</h2>
    <hr>
    <!-- <p><strong>Artiesten: </strong> <span *ngFor="let item of festival.Artiesten">
            {{item}} |
        </span></p> -->

    <p><strong>Price: </strong>$ {{myOrder?.GTotal }}</p>
    <p><strong>Quantity: </strong> {{myOrder?.Quantity }} tickets</p>

    <h6 style="padding-top: 50px;">Beschrijving</h6>
    <p style="margin-bottom: 60px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, quo incidunt quam
        officia praesentium neque
        fugiat voluptate nostrum, voluptatem ipsa nobis, vero perspiciatis vel quaerat! Et, repudiandae? Voluptate,
        vitae soluta?</p>


</div>

<a href="../">Go back</a>